In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,StudentGroup,ELAProf_MetTarget,MathProf_MetTarget,Grad4YR_MetTarget,Grad5YR_MetTarget,ELAGrowth_MetStandard,MathGrowth_MetStandard,ELP_MetTarget,CA_MetAverage
0,01,ATLANTIC,0010,ABSECON CITY,Districtwide,Met Target,Met Target,N,N,Met Standard,Met Standard,Met Target†,Met
1,01,ATLANTIC,0010,ABSECON CITY,White,Met Target,Met Target,N,N,Met Standard,Met Standard,N,Met

### Check number of columns and rows

In [2]:
df.shape

(6500, 13)

### Adding columns from 2016-17 table

In [3]:
df['ChronicAbs'] = 'NA'
df['RequiresTargetedSupImp'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,StudentGroup,ELAProf_MetTarget,MathProf_MetTarget,Grad4YR_MetTarget,Grad5YR_MetTarget,ELAGrowth_MetStandard,MathGrowth_MetStandard,ELP_MetTarget,CA_MetAverage,ChronicAbs,RequiresTargetedSupImp,Year
0,01,ATLANTIC,0010,ABSECON CITY,Districtwide,Met Target,Met Target,N,N,Met Standard,Met Standard,Met Target†,Met,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,White,Met Target,Met Target,N,N,Met Standard,Met Standard,N,Met,NA,NA,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                0
CountyName                0
DistrictCode              0
DistrictName              0
StudentGroup              0
ELAProf_MetTarget         0
MathProf_MetTarget        0
Grad4YR_MetTarget         0
Grad5YR_MetTarget         0
ELAGrowth_MetStandard     0
MathGrowth_MetStandard    0
ELP_MetTarget             0
CA_MetAverage             0
ChronicAbs                0
RequiresTargetedSupImp    0
Year                      0
dtype: int64

### Fill missing values

In [7]:
#df = df.fillna('9999999')

### Check again if missing values are dealt properly

In [9]:
df.isnull().sum()

CountyCode                0
CountyName                0
DistrictCode              0
DistrictName              0
StudentGroup              0
ELAProf_MetTarget         0
MathProf_MetTarget        0
Grad4YR_MetTarget         0
Grad5YR_MetTarget         0
ELAGrowth_MetStandard     0
MathGrowth_MetStandard    0
ELP_MetTarget             0
CA_MetAverage             0
ChronicAbs                0
RequiresTargetedSupImp    0
Year                      0
dtype: int64

### Check for meaningless values such as '**','N'

In [10]:
df['StudentGroup'] = df['StudentGroup'].replace('**','NA')
df['StudentGroup'] = df['StudentGroup'].replace('N','NA')

df['ELAProf_MetTarget'] = df['ELAProf_MetTarget'].replace('**','NA')
df['ELAProf_MetTarget'] = df['ELAProf_MetTarget'].replace('N','NA')

df['MathProf_MetTarget'] = df['MathProf_MetTarget'].replace('**','NA')
df['MathProf_MetTarget'] = df['MathProf_MetTarget'].replace('N','NA')

df['Grad4YR_MetTarget'] = df['Grad4YR_MetTarget'].replace('**','NA')
df['Grad4YR_MetTarget'] = df['Grad4YR_MetTarget'].replace('N','NA')

df['Grad5YR_MetTarget'] = df['Grad5YR_MetTarget'].replace('**','NA')
df['Grad5YR_MetTarget'] = df['Grad5YR_MetTarget'].replace('N','NA')

df['ELAGrowth_MetStandard'] = df['ELAGrowth_MetStandard'].replace('**','NA')
df['ELAGrowth_MetStandard'] = df['ELAGrowth_MetStandard'].replace('N','NA')

df['MathGrowth_MetStandard'] = df['MathGrowth_MetStandard'].replace('**','NA')
df['MathGrowth_MetStandard'] = df['MathGrowth_MetStandard'].replace('N','NA')

df['ELP_MetTarget'] = df['ELP_MetTarget'].replace('**','NA')
df['ELP_MetTarget'] = df['ELP_MetTarget'].replace('N','NA')

df['CA_MetAverage'] = df['CA_MetAverage'].replace('**','NA')
df['CA_MetAverage'] = df['CA_MetAverage'].replace('N','NA')

### Check Data types of all columns

In [11]:
df.dtypes

CountyCode                object
CountyName                object
DistrictCode              object
DistrictName              object
StudentGroup              object
ELAProf_MetTarget         object
MathProf_MetTarget        object
Grad4YR_MetTarget         object
Grad5YR_MetTarget         object
ELAGrowth_MetStandard     object
MathGrowth_MetStandard    object
ELP_MetTarget             object
CA_MetAverage             object
ChronicAbs                object
RequiresTargetedSupImp    object
Year                      object
dtype: object

### Change Data types

In [12]:
#df["AdminCount_District"] = df["AdminCount_District"].astype(int)

### Check the changed data types

In [13]:
#df.dtypes

### Get a look at final data

In [14]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,StudentGroup,ELAProf_MetTarget,MathProf_MetTarget,Grad4YR_MetTarget,Grad5YR_MetTarget,ELAGrowth_MetStandard,MathGrowth_MetStandard,ELP_MetTarget,CA_MetAverage,ChronicAbs,RequiresTargetedSupImp,Year
0,01,ATLANTIC,0010,ABSECON CITY,Districtwide,Met Target,Met Target,NA,NA,Met Standard,Met Standard,Met Target†,Met,NA,NA,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,White,Met Target,Met Target,NA,NA,Met Standard,Met Standard,NA,Met,NA,NA,2017-18
2,01,ATLANTIC,0010,ABSECON CITY,Hispanic,Met Target†,Not Met,NA,NA,Met Standard,Met Standard,NA,Met,NA,NA,2017-18
3,01,ATLANTIC,0010,ABSECON CITY,Black or African American,Met Target,Met Target†,NA,NA,Met Standard,Met Standard,NA,Not Met,NA,NA,2017-18
4,01,ATLANTIC,0010,ABSECON CITY,"Asian, Native Hawaiian, or Pacific Islander",NA,NA,NA,NA,NA,NA,NA,Met,NA,NA,2017-18

In [15]:
#df1.to_csv(df1.csv)
df.to_csv('AccountabilitySummary.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP