In [11]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"County Code": str,"District Code": str,"School Code": str})
df.head(2)

,County Code,County Name,District Code,District Name,School Code,School Name,School Requires Comprehensive Support - As of 2017-18,Any Student Group(s) Requiring Targeted Support - As of 2017-18,Student Group(s) Requiring Targeted Support - As of 2017-18
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,No,Yes,Students with Disabilities
1,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,No,Yes,Black or African American

### Check number of columns and rows

In [12]:
df.shape

(272, 9)

### Adding columns from 2016-17 table

In [13]:
#df['Principal'] = 'NA'
#df['SchoolAddress1'] = 'NA'
#df['SchoolAddress2'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [14]:
df.head()

,County Code,County Name,District Code,District Name,School Code,School Name,School Requires Comprehensive Support - As of 2017-18,Any Student Group(s) Requiring Targeted Support - As of 2017-18,Student Group(s) Requiring Targeted Support - As of 2017-18,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,No,Yes,Students with Disabilities,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,No,Yes,Black or African American,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,No,Yes,Black or African American,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,070,NEW YORK AVENUE SCHOOL,Yes,Yes,Hispanic; Students with Disabilities,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,080,UPTOWN SCHOOL COMPLEX,Yes,Yes,Hispanic; Black or African American; Economica...,2017-18

### Check missing values

In [15]:
df.isnull().sum()

County Code                                                         0
County Name                                                         0
District Code                                                       0
District Name                                                       0
School Code                                                         0
School Name                                                         0
School Requires Comprehensive Support - As of 2017-18               0
Any Student Group(s) Requiring Targeted Support - As of 2017-18     0
Student Group(s) Requiring Targeted Support - As of 2017-18        20
Year                                                                0
dtype: int64

### Fill missing values

In [16]:
df = df.fillna('NA')

### Check again if missing values are dealt properly

In [17]:
df.isnull().sum()

County Code                                                        0
County Name                                                        0
District Code                                                      0
District Name                                                      0
School Code                                                        0
School Name                                                        0
School Requires Comprehensive Support - As of 2017-18              0
Any Student Group(s) Requiring Targeted Support - As of 2017-18    0
Student Group(s) Requiring Targeted Support - As of 2017-18        0
Year                                                               0
dtype: int64

### Check for meaningless values such as '**','N'

In [18]:
df['School Requires Comprehensive Support - As of 2017-18'] = df['School Requires Comprehensive Support - As of 2017-18'].replace('**','NA')
df['School Requires Comprehensive Support - As of 2017-18'] = df['School Requires Comprehensive Support - As of 2017-18'].replace('N','NA')

df['Any Student Group(s) Requiring Targeted Support - As of 2017-18'] = df['Any Student Group(s) Requiring Targeted Support - As of 2017-18'].replace('**','NA')
df['Any Student Group(s) Requiring Targeted Support - As of 2017-18'] = df['Any Student Group(s) Requiring Targeted Support - As of 2017-18'].replace('N','NA')

df['Student Group(s) Requiring Targeted Support - As of 2017-18'] = df['Student Group(s) Requiring Targeted Support - As of 2017-18'].replace('**','NA')
df['Student Group(s) Requiring Targeted Support - As of 2017-18'] = df['Student Group(s) Requiring Targeted Support - As of 2017-18'].replace('N','NA')

### Check Data types of all columns

In [19]:
df.dtypes

County Code                                                        object
County Name                                                        object
District Code                                                      object
District Name                                                      object
School Code                                                        object
School Name                                                        object
School Requires Comprehensive Support - As of 2017-18              object
Any Student Group(s) Requiring Targeted Support - As of 2017-18    object
Student Group(s) Requiring Targeted Support - As of 2017-18        object
Year                                                               object
dtype: object

### Change Data types

In [10]:
#df["Female"] = df["Female"].astype(float)

### Check the changed data types

In [20]:
#df.dtypes

### Get a look at final data

In [21]:
df.head()

,County Code,County Name,District Code,District Name,School Code,School Name,School Requires Comprehensive Support - As of 2017-18,Any Student Group(s) Requiring Targeted Support - As of 2017-18,Student Group(s) Requiring Targeted Support - As of 2017-18,Year
0,01,ATLANTIC,0010,ABSECON CITY,050,EMMA C ATTALES,No,Yes,Students with Disabilities,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,010,ATLANTIC CITY HIGH SCHOOL,No,Yes,Black or African American,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,050,CHELSEA HEIGHTS SCHOOL,No,Yes,Black or African American,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,070,NEW YORK AVENUE SCHOOL,Yes,Yes,Hispanic; Students with Disabilities,2017-18
4,01,ATLANTIC,0110,ATLANTIC CITY,080,UPTOWN SCHOOL COMPLEX,Yes,Yes,Hispanic; Black or African American; Economica...,2017-18

In [22]:
#df1.to_csv(df1.csv)
df.to_csv('CompTargetedList.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP