In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

  CountyCode CountyName DistrictCode   DistrictName PercentDaysPresent
0         01   ATLANTIC         0010   ABSECON CITY               96.8
1         01   ATLANTIC         0110  ATLANTIC CITY               98.7

### Check number of columns and rows

In [2]:
df.shape

(675, 5)

### Adding columns from 2016-17 table

In [3]:
#df['Principal'] = 'NA'
#df['SchoolAddress1'] = 'NA'
#df['SchoolAddress2'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,PercentDaysPresent,Year
0,01,ATLANTIC,0010,ABSECON CITY,96.8,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,98.7,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode            0
CountyName            0
DistrictCode          0
DistrictName          0
PercentDaysPresent    0
Year                  0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [7]:

df['PercentDaysPresent'] = df['PercentDaysPresent'].replace('**',9999999)

df['PercentDaysPresent'] = df['PercentDaysPresent'].replace('N',9999999)

### Check Data types of all columns

In [8]:
df.dtypes

CountyCode            object
CountyName            object
DistrictCode          object
DistrictName          object
PercentDaysPresent    object
Year                  object
dtype: object

### Change Data types

In [9]:
df["PercentDaysPresent"] = df["PercentDaysPresent"].astype(float)

### Check the changed data types

In [10]:
df.dtypes

CountyCode             object
CountyName             object
DistrictCode           object
DistrictName           object
PercentDaysPresent    float64
Year                   object
dtype: object

### Get a look at final data

In [11]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,PercentDaysPresent,Year
0,01,ATLANTIC,0010,ABSECON CITY,96.8,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,98.7,2017-18
2,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,97.7,2017-18
3,01,ATLANTIC,0125,ATLANTIC CO SPECIAL SERV,95.8,2017-18
4,01,ATLANTIC,0570,BRIGANTINE CITY,94.8,2017-18

In [12]:
#df1.to_csv(df1.csv)
df.to_csv('FacultyAttendance.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP