In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,STATE,Category,Percentage of Students Overall,Percentage of Low Income Students in Title I Schools,Percentage of Non-Low Income Students in Non-Title I Schools,Percentage of Minority Students in Title I Schools,Percentage of Non-Minority Students in Non-Title I Schools
0,State,Students taught by one or more teachers who ar...,12.19%,14.41%,9.72%,13.72%,9.35%
1,State,Students taught by one or more ineffective tea...,0.35%,0.74%,0.09%,0.62%,0.10%

### Check number of columns and rows

In [2]:
df.shape

(3, 7)

### Adding columns from 2016-17 table

In [3]:
#df['Principal'] = 'NA'
#df['SchoolAddress1'] = 'NA'
#df['SchoolAddress2'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [10]:
df.head()

,STATE,Category,Percentage of Students Overall,Percentage of Low Income Students in Title I Schools,Percentage of Non-Low Income Students in Non-Title I Schools,Percentage of Minority Students in Title I Schools,Percentage of Non-Minority Students in Non-Title I Schools,Year
0,State,Students taught by one or more teachers who ar...,12.19%,14.41%,9.72%,13.72%,9.35%,2017-18
1,State,Students taught by one or more ineffective tea...,0.35%,0.74%,0.09%,0.62%,0.10%,2017-18
2,State,Students taught by one or more inexperienced t...,77.03%,77.46%,75.76%,77.87%,76.41%,2017-18

### Check missing values

In [5]:
df.isnull().sum()

STATE                                                           0
Category                                                        0
Percentage of Students Overall                                  0
Percentage of Low Income Students in Title I Schools            0
Percentage of Non-Low Income Students in Non-Title I Schools    0
Percentage of Minority Students in Title I Schools              0
Percentage of Non-Minority Students in Non-Title I Schools      0
Year                                                            0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
#df.isnull().sum()

### Check for meaningless values such as '**','N'

In [7]:

#df['PercentDaysPresent'] = df['PercentDaysPresent'].replace('**',9999999)

#df['PercentDaysPresent'] = df['PercentDaysPresent'].replace('N',9999999)

### Check Data types of all columns

In [11]:
df.dtypes

STATE                                                           object
Category                                                        object
Percentage of Students Overall                                  object
Percentage of Low Income Students in Title I Schools            object
Percentage of Non-Low Income Students in Non-Title I Schools    object
Percentage of Minority Students in Title I Schools              object
Percentage of Non-Minority Students in Non-Title I Schools      object
Year                                                            object
dtype: object

### Change Data types

In [9]:
#df["PercentDaysPresent"] = df["PercentDaysPresent"].astype(float)

### Check the changed data types

In [12]:
#df.dtypes

### Get a look at final data

In [13]:
df.head()

,STATE,Category,Percentage of Students Overall,Percentage of Low Income Students in Title I Schools,Percentage of Non-Low Income Students in Non-Title I Schools,Percentage of Minority Students in Title I Schools,Percentage of Non-Minority Students in Non-Title I Schools,Year
0,State,Students taught by one or more teachers who ar...,12.19%,14.41%,9.72%,13.72%,9.35%,2017-18
1,State,Students taught by one or more ineffective tea...,0.35%,0.74%,0.09%,0.62%,0.10%,2017-18
2,State,Students taught by one or more inexperienced t...,77.03%,77.46%,75.76%,77.87%,76.41%,2017-18

In [14]:
#df1.to_csv(df1.csv)
df.to_csv('StatewideEducatorEquity.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP