In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races
0,01,ATLANTIC,0010,ABSECON CITY,Admins,60.0,40.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,83.8,16.2,95.6,2.9,0.0,0.0,0.0,0.0,1.5

### Check number of columns and rows

In [2]:
df.shape

(1350, 14)

### Adding columns from 2016-17 table

In [3]:
#df['Principal'] = 'NA'
#df['SchoolAddress1'] = 'NA'
#df['SchoolAddress2'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races,Year
0,01,ATLANTIC,0010,ABSECON CITY,Admins,60.0,40.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,83.8,16.2,95.6,2.9,0.0,0.0,0.0,0.0,1.5,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,Admins,64.5,35.5,25.8,3.2,64.5,3.2,0.0,0.0,3.2,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,Teachers,70.6,29.4,60.1,10.1,26.8,1.7,0.0,0.0,1.2,2017-18
4,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,Admins,44.4,55.6,88.9,0.0,11.1,0.0,0.0,0.0,0.0,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                             0
CountyName                             0
DistrictCode                           0
DistrictName                           0
Teachers/Admins                        0
Female                                 0
Male                                   0
White                                  0
Hispanic                               0
Black or African American              0
Asian                                  0
American Indian or Alaska Native       0
Native Hawaiian or Pacific Islander    0
Two or More Races                      0
Year                                   0
dtype: int64

### Fill missing values

In [6]:
#df = df.fillna('NA')

### Check again if missing values are dealt properly

In [6]:
df.isnull().sum()

CountyCode                             0
CountyName                             0
DistrictCode                           0
DistrictName                           0
Teachers/Admins                        0
Female                                 0
Male                                   0
White                                  0
Hispanic                               0
Black or African American              0
Asian                                  0
American Indian or Alaska Native       0
Native Hawaiian or Pacific Islander    0
Two or More Races                      0
Year                                   0
dtype: int64

### Check for meaningless values such as '**','N'

In [7]:
df['Teachers/Admins'] = df['Teachers/Admins'].replace('**','NA')
df['Teachers/Admins'] = df['Teachers/Admins'].replace('N','NA')

df['Female'] = df['Female'].replace('**',9999999)
df['Female'] = df['Female'].replace('N',9999999)

df['Male'] = df['Male'].replace('**',9999999)
df['Male'] = df['Male'].replace('N',9999999)

df['White'] = df['White'].replace('**',9999999)
df['White'] = df['White'].replace('N',9999999)

df['Hispanic'] = df['Hispanic'].replace('**',9999999)
df['Hispanic'] = df['Hispanic'].replace('N',9999999)

df['Black or African American'] = df['Black or African American'].replace('**',9999999)
df['Black or African American'] = df['Black or African American'].replace('N',9999999)

df['Asian'] = df['Asian'].replace('**',9999999)
df['Asian'] = df['Asian'].replace('N',9999999)

df['American Indian or Alaska Native'] = df['American Indian or Alaska Native'].replace('**',9999999)
df['American Indian or Alaska Native'] = df['American Indian or Alaska Native'].replace('N',9999999)

df['Native Hawaiian or Pacific Islander'] = df['Native Hawaiian or Pacific Islander'].replace('**',9999999)
df['Native Hawaiian or Pacific Islander'] = df['Native Hawaiian or Pacific Islander'].replace('N',9999999)

df['Two or More Races'] = df['Two or More Races'].replace('**',9999999)
df['Two or More Races'] = df['Two or More Races'].replace('N',9999999)

### Check Data types of all columns

In [8]:
df.dtypes

CountyCode                             object
CountyName                             object
DistrictCode                           object
DistrictName                           object
Teachers/Admins                        object
Female                                 object
Male                                   object
White                                  object
Hispanic                               object
Black or African American              object
Asian                                  object
American Indian or Alaska Native       object
Native Hawaiian or Pacific Islander    object
Two or More Races                      object
Year                                   object
dtype: object

### Change Data types

In [10]:
df["Female"] = df["Female"].astype(float)
df["Male"] = df["Male"].astype(float)
df["White"] = df["White"].astype(float)
df["Hispanic"] = df["Hispanic"].astype(float)
df["Black or African American"] = df["Black or African American"].astype(float)
df["Asian"] = df["Asian"].astype(float)
df["American Indian or Alaska Native"] = df["American Indian or Alaska Native"].astype(float)
df["Native Hawaiian or Pacific Islander"] = df["Native Hawaiian or Pacific Islander"].astype(float)
df["Two or More Races"] = df["Two or More Races"].astype(float)

### Check the changed data types

In [11]:
df.dtypes

CountyCode                              object
CountyName                              object
DistrictCode                            object
DistrictName                            object
Teachers/Admins                         object
Female                                 float64
Male                                   float64
White                                  float64
Hispanic                               float64
Black or African American              float64
Asian                                  float64
American Indian or Alaska Native       float64
Native Hawaiian or Pacific Islander    float64
Two or More Races                      float64
Year                                    object
dtype: object

### Get a look at final data

In [12]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,Teachers/Admins,Female,Male,White,Hispanic,Black or African American,Asian,American Indian or Alaska Native,Native Hawaiian or Pacific Islander,Two or More Races,Year
0,01,ATLANTIC,0010,ABSECON CITY,Admins,60.0,40.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-18
1,01,ATLANTIC,0010,ABSECON CITY,Teachers,83.8,16.2,95.6,2.9,0.0,0.0,0.0,0.0,1.5,2017-18
2,01,ATLANTIC,0110,ATLANTIC CITY,Admins,64.5,35.5,25.8,3.2,64.5,3.2,0.0,0.0,3.2,2017-18
3,01,ATLANTIC,0110,ATLANTIC CITY,Teachers,70.6,29.4,60.1,10.1,26.8,1.7,0.0,0.0,1.2,2017-18
4,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,Admins,44.4,55.6,88.9,0.0,11.1,0.0,0.0,0.0,0.0,2017-18

In [13]:
#df1.to_csv(df1.csv)
df.to_csv('TeachersAdminsDemographics.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP