In [1]:
import os
import pandas as pd
import numpy as np

#df = pd.read_excel('narrative_raw.xlsx')
df = pd.read_csv('raw.csv',index_col = False, dtype = {"CountyCode": str,"DistrictCode": str,"SchoolCode": str})
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,TeacherCount_District,TeacherCount_State,TeacherAvgYearsExp_District,TeacherAvgYearsExp_State,TeacherAvgYearsExpInDistrict_District,TeacherAvgYearsExpInDistrict_State,TeacherInDistrict4YearsOrMore_District,TeacherInDistrict4YearsOrMore_State
0,01,ATLANTIC,0010,ABSECON CITY,68,117464,15.4,12.0,14.7,10.7,92.3,75.5
1,01,ATLANTIC,0110,ATLANTIC CITY,642,117464,13.1,12.0,12.9,10.7,87.1,75.5

### Check number of columns and rows

In [2]:
df.shape

(675, 12)

### Adding columns from 2016-17 table

In [3]:
#df['Principal'] = 'NA'
#df['SchoolAddress1'] = 'NA'
#df['SchoolAddress2'] = 'NA'
df['Year'] = '2017-18'

### Check if columns are added properly

In [4]:
df.head(2)

,CountyCode,CountyName,DistrictCode,DistrictName,TeacherCount_District,TeacherCount_State,TeacherAvgYearsExp_District,TeacherAvgYearsExp_State,TeacherAvgYearsExpInDistrict_District,TeacherAvgYearsExpInDistrict_State,TeacherInDistrict4YearsOrMore_District,TeacherInDistrict4YearsOrMore_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,68,117464,15.4,12.0,14.7,10.7,92.3,75.5,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,642,117464,13.1,12.0,12.9,10.7,87.1,75.5,2017-18

### Check missing values

In [5]:
df.isnull().sum()

CountyCode                                0
CountyName                                0
DistrictCode                              0
DistrictName                              0
TeacherCount_District                     1
TeacherCount_State                        0
TeacherAvgYearsExp_District               1
TeacherAvgYearsExp_State                  0
TeacherAvgYearsExpInDistrict_District     1
TeacherAvgYearsExpInDistrict_State        0
TeacherInDistrict4YearsOrMore_District    1
TeacherInDistrict4YearsOrMore_State       0
Year                                      0
dtype: int64

### Fill missing values

In [6]:
df = df.fillna('9999999')

### Check again if missing values are dealt properly

In [7]:
df.isnull().sum()

CountyCode                                0
CountyName                                0
DistrictCode                              0
DistrictName                              0
TeacherCount_District                     0
TeacherCount_State                        0
TeacherAvgYearsExp_District               0
TeacherAvgYearsExp_State                  0
TeacherAvgYearsExpInDistrict_District     0
TeacherAvgYearsExpInDistrict_State        0
TeacherInDistrict4YearsOrMore_District    0
TeacherInDistrict4YearsOrMore_State       0
Year                                      0
dtype: int64

### Check for meaningless values such as '**','N'

In [8]:
df['TeacherCount_District'] = df['TeacherCount_District'].replace('**','9999999')
df['TeacherCount_District'] = df['TeacherCount_District'].replace('N','9999999')

df['TeacherCount_State'] = df['TeacherCount_State'].replace('**','9999999')
df['TeacherCount_State'] = df['TeacherCount_State'].replace('N','9999999')

df['TeacherAvgYearsExp_District'] = df['TeacherAvgYearsExp_District'].replace('**','9999999')
df['TeacherAvgYearsExp_District'] = df['TeacherAvgYearsExp_District'].replace('N','9999999')

df['TeacherAvgYearsExp_State'] = df['TeacherAvgYearsExp_State'].replace('**','9999999')
df['TeacherAvgYearsExp_State'] = df['TeacherAvgYearsExp_State'].replace('N','9999999')

df['TeacherAvgYearsExpInDistrict_District'] = df['TeacherAvgYearsExpInDistrict_District'].replace('**','9999999')
df['TeacherAvgYearsExpInDistrict_District'] = df['TeacherAvgYearsExpInDistrict_District'].replace('N','9999999')

df['TeacherAvgYearsExpInDistrict_State'] = df['TeacherAvgYearsExpInDistrict_State'].replace('**','9999999')
df['TeacherAvgYearsExpInDistrict_State'] = df['TeacherAvgYearsExpInDistrict_State'].replace('N','9999999')

df['TeacherInDistrict4YearsOrMore_District'] = df['TeacherInDistrict4YearsOrMore_District'].replace('**','9999999')
df['TeacherInDistrict4YearsOrMore_District'] = df['TeacherInDistrict4YearsOrMore_District'].replace('N','9999999')

df['TeacherInDistrict4YearsOrMore_State'] = df['TeacherInDistrict4YearsOrMore_State'].replace('**','9999999')
df['TeacherInDistrict4YearsOrMore_State'] = df['TeacherInDistrict4YearsOrMore_State'].replace('N','9999999')

### Check Data types of all columns

In [9]:
df.dtypes

CountyCode                                 object
CountyName                                 object
DistrictCode                               object
DistrictName                               object
TeacherCount_District                      object
TeacherCount_State                          int64
TeacherAvgYearsExp_District                object
TeacherAvgYearsExp_State                  float64
TeacherAvgYearsExpInDistrict_District      object
TeacherAvgYearsExpInDistrict_State        float64
TeacherInDistrict4YearsOrMore_District     object
TeacherInDistrict4YearsOrMore_State       float64
Year                                       object
dtype: object

### Change Data types

In [10]:
df["TeacherCount_District"] = df["TeacherCount_District"].astype(int)
df["TeacherCount_State"] = df["TeacherCount_State"].astype(int)
df["TeacherAvgYearsExp_District"] = df["TeacherAvgYearsExp_District"].astype(float)
df["TeacherAvgYearsExp_State"] = df["TeacherAvgYearsExp_State"].astype(float)
df["TeacherAvgYearsExpInDistrict_District"] = df["TeacherAvgYearsExpInDistrict_District"].astype(float)
df["TeacherAvgYearsExpInDistrict_State"] = df["TeacherAvgYearsExpInDistrict_State"].astype(float)
df["TeacherInDistrict4YearsOrMore_District"] = df["TeacherInDistrict4YearsOrMore_District"].astype(float)
df["TeacherInDistrict4YearsOrMore_State"] = df["TeacherInDistrict4YearsOrMore_State"].astype(float)

### Check the changed data types

In [11]:
df.dtypes

CountyCode                                 object
CountyName                                 object
DistrictCode                               object
DistrictName                               object
TeacherCount_District                       int64
TeacherCount_State                          int64
TeacherAvgYearsExp_District               float64
TeacherAvgYearsExp_State                  float64
TeacherAvgYearsExpInDistrict_District     float64
TeacherAvgYearsExpInDistrict_State        float64
TeacherInDistrict4YearsOrMore_District    float64
TeacherInDistrict4YearsOrMore_State       float64
Year                                       object
dtype: object

### Get a look at final data

In [12]:
df.head()

,CountyCode,CountyName,DistrictCode,DistrictName,TeacherCount_District,TeacherCount_State,TeacherAvgYearsExp_District,TeacherAvgYearsExp_State,TeacherAvgYearsExpInDistrict_District,TeacherAvgYearsExpInDistrict_State,TeacherInDistrict4YearsOrMore_District,TeacherInDistrict4YearsOrMore_State,Year
0,01,ATLANTIC,0010,ABSECON CITY,68,117464,15.4,12.0,14.7,10.7,92.3,75.5,2017-18
1,01,ATLANTIC,0110,ATLANTIC CITY,642,117464,13.1,12.0,12.9,10.7,87.1,75.5,2017-18
2,01,ATLANTIC,0120,ATLANTIC CO VOCATIONAL,134,117464,7.0,12.0,6.7,10.7,63.4,75.5,2017-18
3,01,ATLANTIC,0125,ATLANTIC CO SPECIAL SERV,58,117464,16.0,12.0,14.8,10.7,82.8,75.5,2017-18
4,01,ATLANTIC,0570,BRIGANTINE CITY,68,117464,18.4,12.0,18.1,10.7,91.2,75.5,2017-18

In [13]:
#df1.to_csv(df1.csv)
df.to_csv('TeachersExperienceCertification.csv', encoding='utf-8', index=False)

In [ ]:
#x= df1.to_excel('output1.xlsx')  # doctest: +SKIP